<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.Valor" connectionString="Data Source=JCC;Initial Catalog=MarketECUADOR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient"/>
    <!-- La cadena de conexion -->
    <add key="CADENA_CONEXION" value="Data Source=JCC;&#xD;&#xA;Initial Catalog=MarketECUADOR;Connect Timeout=15;Integrated Security=True"
                                                                     />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>